body {
	font-family: 'Arial Narrow', Helvetica, sans-serif;
	font-stretch: condensed;
}

#canvas {
	cursor: move;
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

#select-results-folder {
	display: none;
}

#select-folder {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#select-folder-icon {
	position: absolute;
	top: 35px;
	left: calc(50% - 25px);
	font-size: 45px;
	color: rgb(255, 255, 255);
}

#select-folder-label-area {
	position: fixed;
	left: calc(60% - 100px);
	top: calc(50% - 100px);
	width: 200px;
	height: 150px;
	color: rgb(255, 255, 255);
	background-color: rgb(225, 135, 80);
	font-size: 20px;
	padding: 80px 5px 40px 5px;
}


#select-dataFolder {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#select-dataFolder-icon {
	position: absolute;
	top: 35px;
	left: calc(50% - 25px);
	font-size: 45px;
	color: rgb(255, 255, 255);
}

#select-dataFolder-label-area {
	position: fixed;
	left: calc(40% - 100px);
	top: calc(50% - 100px);
	width: 200px;
	height: 150px;
	color: rgb(255, 255, 255);
	background-color: rgb(225, 135, 80);
	font-size: 20px;
	padding: 80px 5px 40px 5px;
}

#data-collection, #loadProjectDIV {
	background-color: rgb(225, 135, 80);
	width: 50%;
	min-width: 50em;
	max-width: 75em;
	min-height: 40em;
	position: fixed;
	left: calc(25% - 100px);
	top: calc(22% - 100px);	
	display: none;
	z-index: 1;
}

#data-collection form {
	padding-bottom: 1.5em;
}

#data-collection h2 {
	margin-left: 0.75em;
	display: inline-block	
}


#data-collection h3, h4 {
	margin-bottom: 0;
	margin-top: 0.25em;		
}

#data-collection h3 {
	padding-left: 1em;
}

#data-collection h4 {
	padding-left: 1.5em;
}

#data-collection input {
	margin-left: 3em;
}

#data-collection h4 {
	margin-top: 0;	
}

#data-collection input#submit {
	padding-left: 0;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 7em;
	bottom: calc(0% + 5px);
    position: absolute;
    right: calc(0% + 5px);
}

#data-collection #optDivInputs {
	position: fixed;
	top: calc(48%);
	left: 40%;
}

#data-collection #requriedFileInputs {
	position: fixed;
	top: calc(44%);
	width: calc(49%);
}

.chkbxText {
	font-size: 16px;
}

#features {
	position: fixed;
	left: 40%;
	top: calc(28% - 100px);
}

#features input {
	margin-left: 3em;
}

#closeCollection {
	float: right;
	margin-right: 1em;
	margin-top: 1em;
}

#news-list-panel {
	font-size: 16px;
	position: absolute;
	margin: 0 0 0 0;
	right: 350px;
	bottom: 15px;
	width: 325px;
	display: none;
}

#news-list-group-header {
	color: white;
	background-color: rgb(120, 160, 90);
	height: 45px;
	margin: 0 0 0 0;
	font-size: 18px;
	padding: 8px 8px 0px 0px;
}

#news-list {
	margin: 0 0 0 0;
	max-height: calc(50vh - 150px);
	overflow-y: auto;
	overflow-x: hidden;
}

#issue-list-panel {
	font-size: 16px;
	position: absolute;
	margin: 0 0 0 0;
	right: 15px;
	bottom: 15px;
	width: 325px;
	display: none;
}

#issue-list-group-header {
	color: white;
	background-color: rgb(225, 65, 55);
	height: 45px;
	margin: 0 0 0 0;
	font-size: 18px;
	padding: 8px 8px 0px 0px;
}

#issue-list {
	margin: 0 0 0 0;
	max-height: calc(50vh - 150px);
	overflow-y: auto;
	overflow-x: hidden;
}

#commit-list-panel, #connection-commit-list-panel, #newsAndIssue-list-panel {
	font-size: 16px;
	position: absolute;
	margin: 0 0 0 0;
	left: 15px;
	top: 15px;
	width: calc(20%);
	max-width: 500px;
	min-width: 325px;
	display: none;
}

#commit-list-group-header, #cCommit-list-group-header {
	color: white;
	background-color: steelblue;
	height: 45px;
	margin: 0 0 0 0;
	font-size: 18px;
	padding: 8px 8px 0px 0px;
}

#commit-list, #connection-commit-list {
	margin: 0 0 0 0;
	height: calc(100vh - 75px);
	overflow-y: auto;
}

#commit-list::-webkit-scrollbar, #issue-list::-webkit-scrollbar,
	#news-list::-webkit-scrollbar, #connection-commit-list::-webkit-scrollbar,
	#newsAndIssue-list::-webkit-scrollbar {
	width: 10px;
}

#commit-list::-webkit-scrollbar-track, #issue-list::-webkit-scrollbar-track,
	#news-list::-webkit-scrollbar-track, #connection-commit-list::-webkit-scrollbar-track,
	#newsAndIssue-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#commit-list::-webkit-scrollbar-thumb, #issue-list::-webkit-scrollbar-thumb,
	#news-list::-webkit-scrollbar-thumb, #connection-commit-list::-webkit-scrollbar-thumb,
	#newsAndIssue-list::-webkit-scrollbar-thumb {
	background-color: rgba(140, 140, 140, 0.4);
	outline: 1px solid gray;
}

#header-filter {
	color: black;
}

#clear-commits {
	height: 28px;
	color: black;
	padding: 3px 10px 2px 10px !important;
	margin-right: 3px;
}

#view-by-selection {
	position: fixed;
	right: 15px;
	top: 47px;
	width: 150px;
	background-color: rgb(255, 230, 170) !important;
	border-color: rgb(225, 135, 80) !important;
	border: 1px gray solid;
	text-align: center;
	z-index: -1;
}

#view-by-filter {
	position: fixed;
	right: 15px;
	top: 15px;
	display: none;
}

#view-by-btn {
	width: 150px;
}

#connectionToResons {
    width: 10em;
    align-content: center;
    border-radius: 1em;
    position: fixed;
    right: 14em;
    top: calc(11.5% - 100px);
    display: none;
}

#newsAndIssue-header {
	color: white;
	background-color: black;
	height: 45px;
	margin: 0 0 0 0;
	font-size: 18px;
	padding: 8px 8px 0px 0px;
}

#newsAndIssue-list { 
	overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 75px); 
}

.list-group-item-heading {
	font-size: 12px;
	font-weight: bold;
	font-stretch: semi-condensed;
	color: rgb(80, 80, 80) !important;
}

.list-group-item {
	border-radius: 0 !important;
}

.item-key {
	background-color: rgb(189, 204, 219) !important;
}

.list-group-item:hover {
	color: black !important;
	background-color: rgb(160, 160, 160) !important;
	border: 1px gray solid;	
    margin-bottom: -1px;
}

.list-group-item.active {
	background-color: rgb(255, 230, 170) !important;
	border-color: rgb(225, 135, 80) !important;
}

.list-group-item.active>.list-group-item-text {
	color: rgb(80, 80, 80) !important;
}

 .list-group-item { 
 	padding-left: 0; 
 } 

#list-item {
	display: inline-flex;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;	
    max-height: 100px;
    width: 100%;
}

#list-item.selected_1 {
    background-color: #d1ffeb;
}

#list-item.selected_2 {
    background-color: #fdd3d0;
}

#issue-group .list-group-item-text {
	float: left;
	padding-right: 0.5em;
}

.theForm {
	display: flex;
}

.thumbUp-btn, .thumbDown-btn {
	width: 2em;
	height: 2em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 0.1em;
}

.thumbUp-btn.selected {
	background-color: #2af79e;
}

.thumbDown-btn.selected {
	background-color: #f72a2a;
}

.thumbUp-img, .thumbDown-img {
	width: 1em;
	height: 1em;
	padding: 0;
	margin: 0;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: -100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #ffffff;
}

.scrollable-menu {
	height: auto;
	max-height: 80vh;
	overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
	width: 7px;
}

.scrollable-menu::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.scrollable-menu::-webkit-scrollbar-thumb {
	background-color: rgba(140, 140, 140, 0.4);
	outline: 0px solid gray;
}

.node {
	font-size: 12px;
}

.node:hover {
	font-size: 14px;
	cursor: pointer;
}

.node text.inserted {
	fill: rgb(120, 160, 90);
}

.node text.removed {
	fill: rgb(225, 65, 55);
}

.node circle {
	fill: #fff;
	stroke: gray;
	stroke-width: 1.5px;
}

.node rect {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
	opacity: .925;
}

.node rect.folderPackage {
	fill: steelblue !important;
}

.node rect.class {
	fill: rgb(170, 210, 220) !important;
}

.link {
	fill: none;
	stroke: gray;
	stroke-width: 1.5px;
}

.line-inserted {
	color: rgb(120, 160, 90);
}

.line-removed {
	color: rgb(225, 65, 55);
}